body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5; /* offwhite */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

h2 {
    color: #333333; /* 50 shade of black */
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto; 
    padding: 0 20px; 
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 48%; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select {
    width: calc(100% - 16px); 
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: rgb(87, 87, 182);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e6e6fa;
}

.error {
    color: red;
    font-size: 14px;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.tile {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 calc(20% - 40px);
    box-sizing: border-box;
}

.tile form {
    margin-top: 10px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(17, 17, 17, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .user-info {
    color: #f1f1f1;
    padding: 10px 15px;
    font-size: 14px;
    text-align: left;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left 0.5s;
    padding: 16px;
}
